@use 'variables';
@use 'mixins';

* {
    margin: 0;
    padding: 0;
    font-family: 'yellowtail', sans-serif;
}

body {
    background-color: variables.$primary-color;
    color: variables.$secondary-color;
    text-align: center;
    padding: 1rem;


    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        min-width: 90vw;
        padding: 1rem;

        header {

            h1 {
                font-size: 4em;
                text-shadow: 3px 5px variables.$shadows;

                @include mixins.mobile-sm {
                    font-size: 2.5em;
                    margin-top: 0.2em;
                }

                @include mixins.mobile-md-lg {
                    font-size: 3em;
                    margin-top: 0.1em;
                }
                
                @include mixins.tablet {
                    font-size: 3.5em;
                    margin-top: 0.1em;
                }
            }
        }

        section{
            margin-top: 1em;
            display: grid;
            gap: 30px;
            justify-content: center;

            @include mixins.mobile-sm {
                gap: 20px;
            }

            @include mixins.mobile-md-lg {
                gap: 25px;
            }

            button {
                width: 20em;
                height: 4.5em;
                border-radius: 30px;
                background-color: variables.$primary-color;
                border-color: variables.$secondary-color;
                box-shadow: 0px 6px 10px variables.$shadows;

                @include mixins.mobile-sm {
                    width: 17em;
                    height: 4em;
                }

                &:hover, &:active {
                    cursor: pointer;
                    box-shadow: 4px 10px 10px variables.$shadows;  
                }

                .button-content {
                    display: grid;
                    grid-template-columns: 1fr 2fr;
                    align-items: center;

                    img {
                        width: 38px;
                        margin-left: 3em;

                        @include mixins.mobile-sm {
                            width: 35px;
                            margin-left: 2em;
                        }
                    }

                    p {
                        font-size: 2.5em;
                        color: variables.$secondary-color;
                        text-shadow: 2px 2px variables.$shadows;
                        margin-right: 1.5em;

                        @include mixins.mobile-sm {
                            margin-right: 1em;
                        }
                    }
                }
            }
        }
    }
}

